@font-face {
  font-family: 'Bolero script';
  src: url('/fonts/42610.eot');
  src: local('☺'), url('/fonts/42610.woff') format('woff'), url('/fonts/42610.ttf') format('truetype'), url('/fonts/42610.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@import "/packages/bootstrap3-less/bootstrap.import.less";
@import "mixins.lessimport";



@blue: #0066ff;

/*Base*/


*{
  outline: none;
}

body{
  position: relative;
  overflow-x: hidden;
  >.wrap{
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}

h1{
  text-align: center;
  margin: 50px 0 30px 0;
  font-weight: 500;
  font-size: 37px;
  &.white{
    color: white;
  }
  @media only screen and (max-width : @screen-sm-max){
    font-size: 32px;
  }
  @media only screen and (max-width : @screen-xs-max){
    font-size: 25px;
  }
}
h3{
  font-size: 30px;
  font-weight: 500;
  @media only screen and (max-width : @screen-sm-max){
    font-size: 27px;
  }
  @media only screen and (max-width : @screen-xs-max){
    font-size: 22px;
  }
}

p{
  font-family: @font-family-serif;
  font-size: 18px;
  color: @gray;
  margin: 0;
  @media only screen and (max-width : @screen-sm-max){
    font-size: 18px;
  }
  @media only screen and (max-width : @screen-xs-max){
    font-size: 16px;
  }
}


#top{
  width: 100%;
  height: 550px;
  position: relative;
  background-image: url(/img/top_bg.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  text-align: center;
  @media only screen and (max-width : @screen-sm-max){
    height: 400px;
  }
  @media only screen and (max-width : @screen-xs-max){
    height: 300px;
  }
  #logo{
    margin-top: 100px;
    @media only screen and (max-width : @screen-xs-max){
      width: 100%;
    }
  }
  nav{
    height: 80px;
    width: 100%;
    background: rgba(0, 0, 0, .5);
    position: absolute;
    bottom: 0;
    z-index: @zindex-navbar-fixed;
    .transition(all .4s ease);
    .for-devices{
      position: absolute;
      width: 100%;
      height: 100%;
      background: #000;
      z-index: 3;
      >h3{
        position: absolute;
        height: 100%;
        line-height: 50px;
        margin: 0;
        color: #ffffff;
        font-weight: 200;
        padding: 0 10px;
        font-size: 25px;
      }
      button{
        .pull-right();
        width: 50px;
        height: 50px;
        background: white;
        border: 1px solid rgba(0, 0, 0, .3);
        text-align: center;
        color: black;
        font-size: 35px;
      }
    }
    &._fixed {
      @media only screen and (min-width: @screen-sm) {
        position: fixed;
        background: rgba(0, 0, 0, .8);
        top: 0;
        height: 50px;
        ul {
          li {
            a {
              line-height: 50px;
            }
          }
        }
      }
    }
    ul{
      .container();
      list-style: none;
      z-index: 1;
      .transition(all .4s ease);
      li{
        display: inline-block;
        cursor: pointer;
        .transition(all .4s ease);
        .box-sizing(border-box);
        a{
          padding: 0 44px;
          line-height: 80px;
          color: white;
          font-size: 16px;
          font-weight: 300;
          text-transform: uppercase;
          .transition(all .4s ease);
        }
        &:hover, &._active{
          background: rgba(0, 0, 0, .6);
          a{
            text-decoration: none;
          }
        }
      }
    }
    @media only screen and (max-width : @screen-sm-max) {
      position: fixed;
      background: rgba(0, 0, 0, 1);
      top: 0;
      height: 50px !important;
      ul{
        position: relative;
        width: 100%;
        top: 0;
        margin: 0 !important;
        padding: 0 !important;
        z-index: 2;
        li{
          display: block;
          width: 100%;
          height: 0;
          background: rgba(0, 0, 0, 1);
          border-bottom: 1px solid #222;
          z-index: 1;
          a{
            line-height: 50px !important;
          }
          &:hover, &._active{
            background: #111;
          }
        }
        &._expanded{
          top: 50px;
          li{
            height: 50px;
          }
        }
      }
    }
  }
}

#about{
  padding-bottom: 40px;
  .info{
    .make-md-column(8);
    #advantages{
      margin-top: 40px;
      .item{
        .clearfix();
        margin-bottom: 35px;
        div{
          display: inline-block;
          height: 158px;
          width: 94px;
          float: left;
          margin-right: 25px;
          opacity: 0;
          .transition(all .6s ease);
          .translate(-70px, 0);
          &._animated{
            .translate(0, 0);
            opacity: .5;
          }
        }
        h3{
          margin-top: 6px;
        }
        p{
          padding-right: 20px;
        }
        &:nth-child(1){
          div{
            background-image: url(/img/1.png);
          }
        }
        &:nth-child(2){
          div{
            background-image: url(/img/2.png);
            height: 162px;
          }
        }
        &:nth-child(3){
          div{
            background-image: url(/img/3.png);
            height: 165px;
          }
        }
      }
    }
  }
  aside{
    text-align: center;
    .make-md-column(4);
    .row{
      > div {
        .make-sm-column(6);
        .make-md-column(12);
        margin-bottom: 60px;
        img {
          width: 90%;
        }
        h3, p {
          text-align: center;
        }
        h3{
          font-style: italic;
        }
      }
      #black-circle{
        position: relative;
        .transition(all .8s ease);
        -webkit-transform: rotateY(90deg);
        -moz-transform: rotateY(90deg);
        -ms-transform: rotateY(90deg);
        -o-transform: rotateY(90deg);
        transform: rotateY(90deg);
        .body {
          width: 90%;
          position: absolute;
          top: 63px;
          h3, p {
            color: white;
          }
        }
        &._animated{
          -webkit-transform: rotateY(0deg);
          -moz-transform: rotateY(0deg);
          -ms-transform: rotateY(0deg);
          -o-transform: rotateY(0deg);
          transform: rotateY(0deg);
        }
      }
      #visit{
        img{
          .transition(all .8s ease);
          .scale(0);
          opacity: 0;
        }
        p{
          .transition(all .6s ease);
          padding: 0 40px;
          .translate(0, -40px);
          opacity: 0;
        }
        h3{
          .transition(all .6s ease);
          .translate(0, -20px);
          opacity: 0;
        }
        &._animated{
          img{
            .scale(1);
            opacity: 1;
          }
          h3{
            opacity: 1;
            .translate(0, 0);
          }
          p{
            opacity: 1;
            .translate(0, 0);
          }
        }
      }
    }
  }
}

#services{
  background: url(/img/rockywall.png);
  padding-bottom: 40px;
  .container{
    .row{
      >div{
        .transition(all .4s ease);
        .make-sm-column(6);
        .make-md-column(3);
        overflow: none;
        cursor: pointer;
        .thumbnail{
          position: relative;
          border: 0;
          padding-bottom: 20px;
          .box-shadow(0 0 3px #ccc);
          .rounded(3px);
          .transition(all .8s ease);
          opacity: 0;
          -webkit-transform: perspective( 600px ) rotateY( 90deg );
          -moz-transform: perspective( 600px ) rotateY( 90deg );
          -ms-transform: perspective( 600px ) rotateY( 90deg );
          -o-transform: perspective( 600px ) rotateY( 90deg );
          transform: perspective( 600px ) rotateY( 90deg );
          &._animated{
            opacity: 1;
            -webkit-transform: perspective( 600px ) rotateY( 0deg );
            -moz-transform: perspective( 600px ) rotateY( 0deg );
            -ms-transform: perspective( 600px ) rotateY( 0deg );
            -o-transform: perspective( 600px ) rotateY( 0deg );
            transform: perspective( 600px ) rotateY( 0deg );
          }
          .img{
            width: 159px;
            height: 159px;
            background: url(/img/service.jpg);
            .rounded(100px);
            margin: 20px auto 10px auto;
          }
          .caption{
            h3{
              font-size: 24px;
              color: black;
              text-align: center;
              margin-top: 0;
              span{
                color: @gray;
                font-family: @font-family-script;
              }
            }
            p{
              text-align: center;
              line-height: 1.2;
            }
          }
        }
        &:hover{
          .thumbnail{
            .box-shadow(0 0 7px #ccc);
            .scale(1.05);
          }
        }
      }
    }
  }
}


#objects{
  padding-bottom: 60px;
  .container{
    >p{
      .make-md-column(10);
      .make-md-column-offset(1);
    }
    .row{
      >.item{
        .make-xs-column(12);
        .make-sm-column(4);
        .make-md-column(4);
        position: static;
        width: 33% !important;
        float: none !important;
        display: inline-block !important;
        vertical-align: top;
        .transition(all .4s ease);
        padding-left: 5px;
        padding-right: 6px;
        &._animated{
          .thumbnail{
            opacity: 1;
            -webkit-transform: perspective( 600px ) rotateX( 0deg );
            -moz-transform: perspective( 600px ) rotateX( 0deg );
            -ms-transform: perspective( 600px ) rotateX( 0deg );
            -o-transform: perspective( 600px ) rotateX( 0deg );
            transform: perspective( 600px ) rotateX( 0deg );
          }
        }
        @media only screen and (max-width: @screen-sm-max) {
          width: 32.5% !important;
        }
        @media only screen and (max-width: @screen-xs-max) {
          width: 100% !important;
        }
        >.thumbnail{
          position: relative;
          border: 0;
          .box-shadow(0 0 3px #ccc);
          padding: 3px;
          cursor: pointer;
          opacity: .85;
          .transition(all .7s ease);
          opacity: 0;
          -webkit-transform: perspective( 600px ) rotateX( 90deg );
          -moz-transform: perspective( 600px ) rotateX( 90deg );
          -ms-transform: perspective( 600px ) rotateX( 90deg );
          -o-transform: perspective( 600px ) rotateX( 90deg );
          transform: perspective( 600px ) rotateX( 90deg );
          >.wrap{
            position: relative;
            overflow: hidden;
            >img{
              width: 100%;
              .transition(all .4s ease);
            }
            h3{
              .transition(all .4s ease);
              position: absolute;
              margin: 0;
              padding: 5px 15px;
              width: 100%;
              bottom: -200px;
              color: white;
              font-weight: 200;
              font-size: 24px;
              background: rgba(0, 0, 0, .5);
            }
          }
          &:hover, &._active{
            opacity: 1;
            >.wrap{
              >img{
                .scale(1.2);
              }
              h3{
                position: absolute;
                margin: 0;
                padding: 10px 15px;
                width: 100%;
                bottom: 0;
                color: white;
                font-weight: 400;
                font-size: 24px;
                background: rgba(0, 0, 0, .5);
                line-height: 1.3;
                >span{
                  display: block;
                  font-size: 16px;
                  font-weight: 200;
                  >span{
                    color: #ccc;
                  }
                }
              }
            }
          }
        }
        .expandable{
          position: absolute;
          width: 100%;
          left: 0;
          background: url('/img/rockywall.png');
          top: auto;
          height: 0;
          overflow: hidden;
          .transition(all .4s ease);
          .container{
            opacity: 0;
            height: 100%;
            overflow: scroll;
            .transition(opacity .4s ease);
          }
          .close-it{
            position: absolute;
            width: 60px;
            height: 100%;
            cursor: pointer;
            top: 0;
            right: 0;
            background: rgba(255, 255, 255, .5);
            color: black;
            text-align: center;
            font-size: 25px;
            font-weight: bold;
            padding-top: 20px;
            opacity: .7;
            .transition(all .4s ease);
            .box-sizing(border-box);
            &:hover{
              opacity: 1;
            }
          }
          .shade{
            position: absolute;
            width: 100%;
            height: 30px;
            left: 0;
            .box-shadow(0 0 12px rgba(0, 0, 0, .4));
            &.top{
              top: -30px;
            }
            &.bottom{
              bottom: -30px;
            }
          }
          #top-preview{
            .make-row();
            #slider-cont{
              .make-md-column(8);
              margin-top: 30px;
              .carousel{
                .box-shadow(0 0 3px #ccc);
                border: 3px solid white;
                .item{
                  img{
                    width: 100%;
                  }
                }
              }
            }
            #info-cont{
              .make-md-column(4);
              margin-top: 30px;
              .thumbnail{
                border: 0;
                .box-shadow(0 0 3px #ccc);
                padding: 20px;
                h3{
                  margin-top: 0;
                }
                h4{
                  span{
                    color: @gray-light;
                    font-weight: 200;
                  }
                }
              }
            }
          }
          h2{
            text-align: center;
            font-weight: 400;
            font-size: 28px;
            margin: 40px 0 10px 0;
          }
          .timeline{
            .timeline-badge > a{
              color: @blue !important;
            }
            .timeline-panel{
              border: 0;
              .box-shadow(0 0 3px #ccc);
              .timeline-heading{
                text-align: center;
                color: @blue;
                font-weight: 300;
              }
              .timeline-body{
                .img{
                  position: relative;
                  width: 100%;
                  img{
                    width: 100%;
                  }
                  h4{
                    color: #ffffff;
                    position: absolute;
                    bottom: 20px;
                    background: rgba(0, 0, 0, .5);
                    bottom: 0;
                    margin: 0;
                    width: 100%;
                    padding: 15px 20px;
                    text-transform: uppercase;
                    font-size: 22px;
                    font-weight: 400;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

}


#price{
  padding-bottom: 60px;
  background: url(/img/retina_wood.png);
  .container{
    .row{

      >div{
        &:nth-child(1){
          .make-md-column(8);
          >p{
            margin-bottom: 40px;
          }
          .item{
            margin-bottom: 30px;
            padding-bottom: 30px;
            border-bottom: 1px solid rgba(255, 255, 255, .5);
            .transition(all .5s ease);
            .translate(-50px, 0);
            opacity: 0;
            &._animated{
              .translate(0, 0);
              opacity: 1;
            }
            h3{
              color: white;
              font-size: 30px;
              @media only screen and (max-width: @screen-sm-max) {
                font-size: 22px;
              }
              @media only screen and (max-width: @screen-xs-max) {
                font-size: 18px;
              }
              >span{
                font-weight: 200;
                >span{
                  color: @blue;
                  font-weight: 500;
                }
              }
            }
            >p{
              color: @gray;
              padding: 15px 60px 15px 30px;
            }
            >ul{
              margin-left: 8px;
              li{
                padding: 2px 0;
                p{
                  span{
                    color: @blue;
                    font-weight: bold;
                  }
                }
              }
            }
          }
        }
        &:nth-child(2){
          .make-md-column(4);
          img{
            width: 100%;
          }
          >div{
            .make-sm-column(6);
            .make-md-column(12);
          }
          #call-us{
            position: relative;
            margin-bottom: 30px;
            .transition(all .8s ease);
            .scale(0);
            opacity: 0;
            &._animated{
              .scale(1);
              opacity: 1;
            }
            .body{
              position: absolute;
              width: 100%;
              text-align: center;
              top: 58px;
              left: 0;
              h3{
                font-style: italic;
                color: @blue;
                margin-bottom: 15px;
              }
            }
          }
          #got-project{
            .transition(all 1.2s ease);
            .translate(0, -100px);
            opacity: 0;
            &._animated{
              .translate(0, 0);
              opacity: 1;
            }
            img{
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }
}


#contacts{
  padding-bottom: 60px;
  width: 100%;
  overflow-x: hidden;
  #map{
    width: 100%;
    height: 400px;
    background: #ccc;
  }
  .container{
    margin: 0 auto 50px auto;
    .row{
      .transition(all .8s ease);
      .scale(1.5);
      opacity: 0;
      &._animated{
        .scale(1);
        opacity: 1;
      }
      >div{
        .make-sm-column(4);
        .make-md-column(4);
        .make-row();
        >div{
          &:nth-child(1){
            .make-xs-column(1);
            .make-sm-column(1);
            .make-md-column(1);
            i{
              color: @blue;
              padding: 19px 0;
              font-size: 25px;
              opacity: .5;
            }
          }
          &:nth-child(2){
            .make-xs-column(10);
            .make-sm-column(10);
            .make-md-column(10);
            h3{
              padding-left: 10px;
              margin-bottom: 20px;
            }
            p{
              font-family: @font-family-sans-serif;
              font-size: 22px;
              color: @gray;
              font-weight: 200;
              margin-bottom: 7px;
            }
            span{
              font-family: @font-family-serif;
              color: @gray-light;
            }
          }
        }
      }
    }
  }
  #danke{
    margin-top: 40px;
    span{
      display: block;
      text-align: center;
      line-height: 1.1em;
      &:nth-child(1){
        font-family: @font-family-script;
        font-size: 90px;
      }
      &:nth-child(2){
        font-family: @font-family-sans-serif;
        font-size: 90px;
        color: #000;
        font-weight: bold;
      }
      &:nth-child(3){
        font-family: @font-family-serif;
        font-size: 34px;
      }
      @media only screen and (max-width : @screen-sm-max){
        &:nth-child(1){
          font-size: 70px;
        }
        &:nth-child(2){
          font-size: 70px;
        }
        &:nth-child(3){
          font-size: 28px;
        }
      }
      @media only screen and (max-width : @screen-xs-max){
        &:nth-child(1){
          font-size: 40px;
        }
        &:nth-child(2){
          font-size: 40px;
        }
        &:nth-child(3){
          font-family: @font-family-serif;
          font-size: 16px;
        }
      }
    }
  }
}

#main-wrap{
  .transition(all .4s ease);
}

.r-modal{
  position: fixed;
  visibility: hidden;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, .93);
  z-index: @zindex-modal;
  .transition(all .5s ease);
  .scale(2);
  opacity: 0;
  .close-me{
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    opacity: .7;
    z-index: 3;
    .transition(all .4s ease);
    &:hover{
      opacity: 1;
      .rotate(90deg);
    }
  }
  .ovrl{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
  }
  .container{
    padding: 20px;
    position: relative;
    z-index: 2;
    .row{
      >div{
        .make-md-column(7);
      }
      >aside{
        .make-md-column(5);
      }
    }
  }
  &._opened{
    visibility: visible;
    .scale(1);
    opacity: 1;
  }
}

footer{
  padding: 50px 0 10px 0;
  background: @gray-lighter;
  p{
    font-family: @font-family-sans-serif;
    color: @gray-light;
    font-weight: 200;
    font-size: 16px;
    span{
      color: @gray;
      font-weight: 500;
    }
  }
}


@import 'editor.lessimport';
@import 'admin/admin.lessimport';
