<template name="editor">

    <section class="editor">
        <div class="html-cont">
            <textarea cols="30" rows="10"></textarea>
            <button>reset</button>
            <div></div>
        </div>
        <h4>aura</h4>
        <button id="b-html">html</button>
        <button id="b-bold"><strong>B</strong></button>
        <button id="b-italic"><i>I</i></button>
        <button id="b-link"><i class="fa fa-chain"></i></button>
        <div class="b-group">
            <ul>
                <li><button id="b-h1">H1</button></li>
                <li><button id="b-h2">H2</button></li>
                <li><button id="b-h3">H3</button></li>
                <li><button id="b-h4">H4</button></li>
                <li><button id="b-h5">H5</button></li>
                <li><button id="b-h6">H6</button></li>
            </ul>
        </div>
        <div class="b-group">
            <ul>
                <li><button id="b-ul"><i class="fa fa-list-ul"></i></button></li>
                <li><button id="b-ol"><i class="fa fa-list-ol"></i></button></li>
            </ul>
        </div>
        <div class="b-group">
            <ul>
                <li><button id="b-sup"><sup>sup</sup></button></li>
                <li><button id="b-sub"><sub>sub</sub></button></li>
            </ul>
        </div>
        <div class="b-group">
            <ul>
                <li><button id="b-align-left"><i class="fa fa-align-left"></i></button></li>
                <li><button id="b-align-center"><i class="fa fa-align-center"></i></button></li>
                <li><button id="b-align-right"><i class="fa fa-align-right"></i></button></li>
                <li><button id="b-align-justify"><i class="fa fa-align-justify"></i></button></li>
            </ul>
        </div>
        <button id="b-span">span</button>
        <button id="b-save" class="save"><i class="fa fa-check"></i></button>
    </section>

</template>